body{
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Picture{
    width: 25%;
    height: 350px;
}